<component name="ArtifactManager">
  <artifact type="war" name="Springcrud:war2">
    <output-path>$PROJECT_DIR$/out/artifacts/Springcrud_war2</output-path>
    <root id="archive" name="Springcrud_war.war">
      <element id="artifact" artifact-name="Springcrud:war exploded" />
    </root>
  </artifact>
</component>